* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
.App {
  font-family: sans-serif;
  text-align: center;
  overflow-x: hidden;
}
.ul {
  list-style-type: none;
}

header {
  padding: 20px 20px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #172b4d;
  height: min-content;
}
.sidenav {
  width: 150vw;
  position: absolute;
  height: 0vh;
  padding: 0;
}

.menu_container {
  position: absolute;
  left: -15%;
  width: 100%;
  z-index: 10;
  height: 100%;
  background: #172b4d86;
  @extend .dflex;
  flex-direction: column;
  overflow-x: hidden;
}
ul {
  padding: 0;
  align-items: center;
}
ul li {
  list-style-type: none;
  margin: 10px 10px;
  align-content: center;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #f7f7f7;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #5ecbf7;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
a {
  cursor: pointer;
}

header svg {
  font: size 80px;
  color: white;
  margin-left: 2px;
  margin-right: 98%;
}

@media (max-width: 1000px) {
  .menu {
    visibility: visible;
  }
  .headernav {
    visibility: hidden;
  }
}

@media (min-width: 1000px) {
  .menu {
    visibility: hidden;
  }
  .menu_container {
    visibility: hidden;
  }

  .head h3 {
  }
  .headernav {
    display: flex;
    overflow-x: hidden;
  }
}

.headernav li {
  left: 400px;
  text-align: center;
}

.nav-link {
  align-content: center;
  padding: 10px;
}
.head {
  height: 50px;
}
.head ul {
  display: flex;
}

.head h3 {
  width: max-content;
  font-size: 2vw;
  height: 15px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.nav-link {
  margin-left: 400px;
  align-content: center;
}
.nav-link li {
  width: 100px;
}
.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
.content_wrapper {
  @extend .dflex;
  width: 100%;
  height: calc(100vh - 60px);
}
.scrollY {
}
